{% load bootstrap4 %}
{% load humanize %}
{% load url_customize %}
{% load static %}


<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Influencer-Search</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

  <style>
    body {
      background-color: #e6ecf0;
    }

    #tweet-text {
      font-size: 18px;
      padding: 20px;
      margin-bottom: 10px;
      line-height: 1.2;
    }

    #profile {
      font-size: 16px;
    }

      {% block css %}{% endblock %}
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'VisualizingTweets:index' %}">Influencer-Search</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'VisualizingTweets:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="DropdownMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'VisualizingTweets:keyword_search' %}">Twitterキーワード検索</a>
            <a class="dropdown-item" href="{% url 'VisualizingTweets:timeline_search' %}">Twitterタイムライン検索</a>
            <a class="dropdown-item" href="{% url 'VisualizingTweets:specified_url' %}">Twitter指定ストック</a>
            <a class="dropdown-item" href="{% url 'VisualizingYoutube:video_search' %}">Youtube動画検索</a>
            <a class="dropdown-item" href="{% url 'VisualizingYoutube:youtubelive_ranking' %}">YoutubeLiveランキング</a>
            <a class="dropdown-item" href="{% url 'VisualizingYoutube:all_live_ranking' %}">国内ライブ配信ランキング</a>
            <a class="dropdown-item" href="{% url 'VisualizingYoutube:porn_confirm' %}">Hな動画ランキング</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'VisualizingTweets:stock_list' %}">Twitterストック一覧</a>
          </div>
        </li>

      </ul>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="is_authenticated" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ user.get_username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account_change_password' %}">パスワード変更</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">ログアウト</a>
          </div>
        </li>

        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_signup' %}">新規登録</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingTweets:keyword_search' %}">Twitterキーワード検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingTweets:timeline_search' %}">Twitterタイムライン検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingTweets:specified_url' %}">Twitter指定ストック</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingTweets:stock_list' %}">Twitterストック一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingYoutube:video_search' %}">Youtube動画検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingYoutube:youtubelive_ranking' %}">YoutubeLiveランキング</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingYoutube:all_live_ranking' %}">国内ライブ配信ランキング</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'VisualizingYoutube:porn_confirm' %}">Hな動画ランキング</a>
          </li>
        </ul>
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <br><br><br>
        {% block contents %}{% endblock %}
      </main>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</body>

</html>
