{% extends './base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load url_customize %}

{% block head %}
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
       <div class="col-md-12">
            <h1><a href="{% url 'VisualizingTweets:Index' %}">Visualizing Tweets</a></h1>
            <p>ツイッターのIDを入れると、直近のいいね数とリツイート数、最もリツイートされたツイートが一覧できます。</p>
            <form class="form-inline" method="GET" action="{% url 'VisualizingTweets:Index' %}">
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">取得する</button>
            </form>
            <a class="pull-right btn btn-primary" href="{% url 'VisualizingTweets:stock_list' %}">Stock一覧</a>
        </div>
    </div>

    <!-- メッセージフレームワーク-->
    {% if messages %}
    <div class="container" style="margin-top:1rem;">
        <div class="message">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success" role="alert">
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning" role="alert">
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                {% else %}
                    <div class="alert alert-info" role="alert">
                {% endif %}
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- メッセージフレームワーク-->

    <!-- chart -->
    <div class="row">
        <div class="col-md-12">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <!-- プロフィール -->
        <div class="col-md-3">
            {% if profile %}
            <div class="white-container">
                <div>
                    <img src="{{profile.image}}" width="100px">
                    <a href="https://twitter.com/{{profile.screen_name}}">@{{profile.screen_name}}</a>
                    <p>{{ profile.user_name }}</p>
                </div>
                <div>ツイート数：{{ profile.statuses_count | intcomma }}</div>
                <div>フォロワー数：{{ profile.followers_count | intcomma }}</div>
                <p>登録日：{{ profile.created_at }}</p>
                <div>{{ profile.description }}</div>
            </div>
            {% endif %}
            {% if profile %}
            <div class="white-container">
                <div>
                    <p>日別の被リツイート＆いいね数の合計</p>
                    {% for index, row in grouped_df.iterrows %}
                    <div>
                        {{index}}
                        <i class="fas fa-retweet"></i> {{row.retweets | intcomma }}
                        <i class="far fa-heart"></i> {{row.fav | intcomma }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- 一覧 -->
        <div class="col-md-9">
            {% if profile %}
            <h4>直近{{ display_number }}ツイートでリツイート・いいねされたツイート一覧</h5>
            {% for index, row in sorted_df.iterrows %}
            <div class="white-container">
                <div>{{ row.created_at }}
                    <a class="pull-right btn btn-primary" href="{% url 'VisualizingTweets:stock_add' row.screen_name row.tweet_id %}" target="_blank">Stock</a>
                </div>
                <div id="tweet-text">{{ row.text | linebreaksbr | urlize | url_target_blank }}</div>
                <div>
                    <span><i class="far fa-heart"></i>  {{ row.fav | intcomma }}</span> <span><i class="fas fa-retweet"></i> {{ row.retweets | intcomma }}</span>
                    <a class="pull-right" href="{{ row.url }}" target="_blank" rel="noopener">ツイートを見る</a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

{% block script %}
<script>
  {% if profile %}
   // bar chart data
  var barData = {
  labels : [{% for index, row in sorted_df_created_at.iterrows %}
                 "{{row.created_at}}",
             {% endfor %}],
  datasets : [
     {
           label: "Retweets",
           backgroundColor: 'rgba(255, 99, 132, 0.2)',
           borderColor: 'rgba(255,99,132,1)',
           borderWidth:10,
           bezierCurve : false,
           data : [{% for index, row in sorted_df_created_at.iterrows %}
                     {{ row.retweets | intcomma }},
                   {% endfor %}]
     },{
           label: "Favorites",
           data : [{% for index, row in sorted_df_created_at.iterrows %}
                     {{ row.fav | intcomma }},
                   {% endfor %}],
           type: 'line',
           borderColor: 'rgb(63, 127, 191)',
     }
     ]
  }
  // draw bar chart
 var mychart = document.getElementById("chart");
 var chart = new Chart(mychart, {
   type:'bar',
   data:barData,
   options: {
       scales: {
         yAxes: [
           {
             ticks: {
               beginAtZero: true,
               min: 0,
               max: {{ sorted_df_MaxFav }} + 10
             }
           }
         ]
       }
     }
 });
  {% endif %}
</script>
{% endblock %}
{% endblock %}
</html>
