Django<2.3
django-allauth
django-pandas
django-bootstrap4
django-forms-bootstrap
django-sendgrid-v5
django-import-export
django-jazzmin
pandas
tweepy
humanize
numpy
pytz
psycopg2-binary==2.8.2
requests
urllib3
certifi
chardet
idna
dj-database-url==0.5.0
gunicorn==19.9.0
whitenoise==3.3.1
google-api-python-client
httplib2
oauth2client
pornhub-api
aiohttp
selenium
# chromedriver-binary==87.*
webdriver_manager
lxml
dmm-search3
django-heroku
