{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extracss %}

{% endblock %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block contents %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="container">
    <h4 class="text-center logo my-4">
        <a>{% trans "Password Reset" %}</a>
    </h4>
    <center><p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p></center>
</div>
{% endblock %}
