{% load bootstrap4 %}
{% load humanize %}
{% load url_customize %}
{% load static %}

<!DOCTYPE html>

<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Visualizing Tweets</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

    <style>
      body{
       background-color:#e6ecf0;
      }
      div{
       line-height: 1.2;
      }
      .white-container{
       border-bottom: 1px solid #e6ecf0;
       padding:20px;
       background-color:#ffffff;
      }
      #tweet-text{
       font-size:20px;
       padding:20px;
       margin-bottom:10px;
       line-height: 1.2;
      }
       {% block css %}{% endblock %}
    </style>

      {% block head %}{% endblock %}
  </head>

  <body>
  {% block contents %}{% endblock %}
  </body>
</html>
