{% extends 'base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load url_customize %}

{% block head %}
{% endblock %}

{% block contents %}
    <div class="row">
       <div class="col-md-12">
       <br>
        <center>
            <span font size="6"><font color="red">年齢確認</font></span>
            <p>
                <span class="h4">この先18歳未満の方には不適切な表現内容が含まれます。18歳未満の方のアクセスは固くお断りします。
                <p class="h5">あなたは18歳以上ですか？<p></span>
            </p>
            <div style="display:inline;">
                <a class="h6" href="{% url 'VisualizingYoutube:pornhub_ranking' %}">はい</a>
            </div>
            <div style="display:inline;">
                <a class="h6" href="{% url 'VisualizingTweets:index' %}">いいえ</a>
            </div>
        </center>
        </div>
    </div>

    <!-- メッセージフレームワーク-->
    {% if messages %}
    <div class="container" style="margin-top:1rem;">
        <div class="message">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success" role="alert">
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning" role="alert">
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                {% else %}
                    <div class="alert alert-info" role="alert">
                {% endif %}
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- メッセージフレームワーク-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% endblock %}
